
<form [formGroup]="payform" (ngSubmit)="onSubmit()"
  class="w-[70%] mx-auto bg-blue-100 py-4 px-8 my-3 rounded-lg shadow-md  ">

  <h3 class="capitalize text-3xl text-center text-green-400 ">pay now</h3>
  <div class="relative z-0 w-full mb-5 group">


  <div class="relative z-0 w-full mb-5 group">
    <input formControlName="details" type="text" name="floating_details" id="floating_details"
      class="block py-5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" " required />
    <label for="floating_details"
      class="peer-focus:font-medium h-16 absolute py-5 capitalize text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 ">details
      address</label>

  </div>
  <div class="relative z-0 w-full mb-5 group">
    <input formControlName="phone" type="tel" name="floating_phone" id="floating_phone"
      class="block py-5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" " required />
    <label for="floating_phone"
      class="peer-focus:font-medium h-16 absolute capitalize text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 ">phone</label>

  </div>
  <div class="relative z-0 w-full mb-5 group">
    <input formControlName="city" type="text" name="floating_city" id="floating_city"
      class="block py-5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" " required />
    <label for="floating_city"
      class="peer-focus:font-medium h-16 absolute capitalize text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 ">city</label>

  </div>


  </div>
  <div class="relative z-0 w-full mb-5 group">
    <input formControlName="password" type="password" name="floating_password" id="floating_password"
      class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" " required />
    <label for="floating_password"
      class=" h-16 peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 ">Password(A-Z/8
      any char)</label>


  </div>
<div class="flex sm:flex-wrap md:flex-nowrap"></div>

 <button
   [disabled]="payform.invalid" (click)="paycash()"
    class=" disabled:bg-red-200   disabled:text-white block my-5 mx-auto text-white bg-green-400  focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm md:w-[70%] hover:bg-blue-500 sm:w-[100px] px-3 py-3 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-600">Pay (cash) <i class="fa-solid fa-money-bills"></i></button>
 <button (click)="payvisa()" routerLinkActive="router-link-active"  [disabled]="payform.invalid"  class=" disabled:bg-red-200   disabled:text-white block my-5 mx-auto text-white bg-green-400  focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm md:w-[70%] hover:bg-blue-500 sm:w-[100px] px-3 py-3 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-600">Pay (cridit) <i class="fa-solid fa-credit-card"></i></button>

</form>
